.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site {
  min-height: 100vh;
  position: relative;
  padding-bottom: 56px;
}

@media screen and (max-width: 767px) and (min-width: 356px) {
  .site{
    padding-bottom: 112px;
  }
}

@media screen and (max-width: 355px) {
  .site{
    padding-bottom: 168px;
  }
}